{% load extra_tags ui_registry i18n %}


<div>
    <div class="footerLinks" >
        {% loadregistry footer_links %}<span class="link-separator"> |</span>{% endloadregistry %}
    </div>
<div id="licenseLogo">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F069ed721d8a08e8f4402485c08b26ef6' type='text/javascript'%3E%3C/script%3E"));
</script>
 </div>
 </div>

